header {
  position: fixed;
  z-index: 20;
  right: 0;
  margin-top: 50px;
  top: 0;
 
 }

  header img {
    display: block;
    margin-left: 0vw;
    margin-right: 7vw;
    width: 3.3vw;
    margin-top: 0px;
    margin-bottom: 20px;
  }


header a {
  text-decoration: none;
  color: white;
  font-family: Arial Rounded MT;
  font-size: 23px;
  align-self: center;
}

nav {
  color: white;
  font-family: Arial Rounded MT;
  font-size: 27px;
  display: grid;
  justify-content: left;
  grid-template-rows: repeat(6,1fr);
  margin-left: 0vw;
  margin-right: 0vw;
  position: fixed;
  top: 0;
  left: -3000px;
  z-index: 17;
  backdrop-filter: blur(10px);
  padding: 20px;
  height: 400px;
  width: 100%;
  padding-left: 7vw;
  padding-top: 120px;
  transition: 0.2s;
  box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.3);
  text-shadow: 2px 2px 3px rgb(36, 36, 36);
 
}
nav a {
  align-self: center;
  display: flex;
    }

    
nav a {
  text-decoration: none;
  color: white;
}

.showup {
  left: 0px;
}
.text-reflect:hover {
  font-size: 28px;
}



/* ---------------------------hamburguer menu ---------------------------- */

label{
  display:flex;
   flex-direction:column;
   width:38px;
   cursor:pointer;
   position: fixed;
   z-index: 25;
   margin-left: 7vw;
   margin-top: 50px;
   top: 0;
   
 }
 
 label span{
   background: #fff;
   border-radius:10px;
   height:5px;
   margin: 4px 0;
   transition: .4s  cubic-bezier(0.68, -0.6, 0.32, 1.6);
 
 }
 
 
 span:nth-of-type(1){
   width:50%;
   
 }
 
 span:nth-of-type(2){
   width:100%;
 }
 
 
 span:nth-of-type(3){
   width:75%;
  
 }
 
 

 
 .oneactive {
   transform-origin:bottom;
   transform:rotatez(45deg) translate(8px,0px)
 }
 
 
 .twoactive {
   
   transform-origin:top;
   transform:rotatez(-45deg)
 }
 
 
 .threeactive {
   
   transform-origin:bottom;
   width:50%;
   transform: translate(11px,-10px) rotatez(45deg);
 
 }
/* --------------------------- artist top ---------------------------- */

.artisttop{
  margin-top: 150px;
  margin-bottom: 100px;
  margin-left: 17vw;
  margin-right: 17vw;
  position: relative;
  z-index: 12;
  display: grid;
  grid-template-columns: 30vw 1fr;
  grid-template-rows: 20vw;
  grid-template-areas: "left name";
  gap: 20px;
  overflow:hidden;
}

h3 {
  display: flex;
  align-self: flex-end;
  color: white;
  position: relative;
  z-index: 15;
  grid-area: name;
  font-family: Montserrat;
  margin-bottom: 0.5vw;
  font-size: 3.5vw ;
}

#images {
  grid-area: left;
}

#imgtop {
  position: absolute;
  z-index: 20;
  height: 20vw;
  width: 30vw;
  box-shadow: 0px 5px 20px rgb(26, 26, 26, 0.5);
  display: block;
  overflow:hidden;
}


#imgblur {
  position: relative;
  z-index: 11;
  right: -250px;
  height: 100%;
  filter: blur(90px);
  -webkit-filter: blur(90px);
  opacity: 70%;
}

#artistphoto {
  position: absolute;
  z-index: 20;
  width: 100%;
  box-shadow: 0px 5px 20px rgb(26, 26, 26, 0.5);
}





/* ---------------------------template---------------------------- */

.songcover {
  position: relative;

}

.coverfilter {
  position: absolute;
  z-index: 15;
  width: 100%;
  transition: 0.2s;
}


h2 {
  color: white;
  font-family: Montserrat;
  font-weight: normal;
  font-size: 15px;
  letter-spacing: 1px;
  transition: 0.2s;
  position: relative;
  z-index: 15;
}

h1 {
  color: white;
  font-family: Montserrat;
  font-weight: bold;
  font-size: 17px;
  letter-spacing: 1px;
  transition: 0.2s;
  position: relative;
  z-index: 15;
}

.coverfilter {
  pointer-events: none;
  opacity: 60%;
}

.songcover:hover > .coverfilter {
  opacity: 0%;
  width: 102%;
}

.songcoverimg {
  box-shadow: 0px 3px 10px rgb(26, 26, 26);
  z-index: 14;
  width: 100%;
  transition: 0.2s;
  position: relative;
}


.songcoverimg:hover{
  width: 102%;
}



.songcover:hover ~ h2,
h1 {
  font-size: 20px;
}

/* ---------------------------grid on the main ---------------------------- */



.songslist {
  margin-top: 100px;
  gap: 4vw;
  display: grid;
  grid-template-columns: repeat(4, minmax(10vw, 1fr));
  margin-left: 17vw;
  margin-right: 17vw;
  margin-bottom: 100px;
}

























/* ---------------------------MOBILE ---------------------------- */


@media only screen and (max-width: 1125px) {
 
  header img {
    display: block;
    width: 50px;
    position: relative;
    z-index: 12;
  }
  
  

  .songslist {
    margin-top: 50px;
    grid-template-columns: repeat(2, minmax(10vw, 1fr));
    margin-left: 7vw;
  margin-right: 7vw;
  }
  










.artisttop{
  margin-top: 150px;
  margin-bottom: 100px;
  margin-left: 7vw;
  margin-right: 7vw;
  position: relative;
  z-index: 12;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 50vw 15vw;
  grid-template-areas: "top" 
  "name";
  gap: 20px;
  overflow:hidden;
}


h3 {
  display: flex;
  align-self: flex-start;
  color: white;
  position: relative;
  z-index: 15;
  grid-area: name;
  font-family: Montserrat;
  margin-bottom: 0.5vw;
  font-size: 5vw ;
  margin-left: 20px;
}


  
  #images {
    grid-area: top;
  }

  #imgtop {
    grid-area: top;
    position: absolute;
    z-index: 20;
    width: 100%;
    height: 50vw;
    box-shadow: 0px 5px 20px rgb(26, 26, 26, 0.5);
 
  }
  
  
  #imgblur {
    position: relative;
    z-index: 11;
    right: 0px;
    top: 2vw;
    width: 100%;
    filter: blur(50px);
    -webkit-filter: blur(50px);
    opacity: 70%;
  }


}