* {
  margin: 0;
}

.websitebackground {
  display: block;
  background-image: linear-gradient(
    0deg,
    rgba(45, 45, 45, 1) 70%,
    rgb(10, 10, 10) 100%
  );
  background-repeat: no-repeat;
  height: 100vh;
  width: 100vw;
  position: fixed;
  top: 0;
  z-index: 0;
}

.websitebackground img {
  position: absolute;
  min-width: 100vw;
  min-height: 100vh;
  right: -80vh;
  pointer-events: none;
}

/* ---------------------------header / body---------------------------- */
header img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 72px;
  margin-top: 45px;
  margin-bottom: 45px;
  position: relative;
  z-index: 10;
}

/* ---------------------------nav---------------------------- */
nav {
  color: white;
  font-family: Arial Rounded MT;
  font-size: 27px;
  display: flex;
  justify-content: space-around;
  margin-left: 13vw;
  margin-right: 13vw;
  position: relative;
  z-index: 10;
}

.text-reflect:hover::after {
  content: attr(data-content);
  background: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0) 20%,
    rgb(82, 82, 82) 90%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.text-reflect:hover {
  font-size: 28px;
}

.text-reflect:after {
  content: attr(data-content);
  background: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0) 20%,
    rgb(58, 58, 58) 90%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.text-reflect {
  cursor: pointer;
  position: relative;
  display: inline-block;
  font-size: 24px;
  transition: 0.2s;
  z-index: 15;
}

.text-reflect:after,
.text-reflect:before {
  top: 60px;
  left: 0px;
  transform: scaleY(-1.1);
  transform-origin: top;
  position: absolute;
  z-index: -1;
}

/* ---------------------------template---------------------------- */

.songcover {
  position: relative;
  cursor: pointer;
}

.coverfilter {
  position: absolute;
  z-index: 15;
  width: 100%;
  transition: 0.2s;
}

.songcoverimg {
  box-shadow: 0px 3px 10px rgb(26, 26, 26);
  z-index: 14;
  width: 100%;
  transition: 0.2s;
  position: relative;
}

h2 {
  color: white;
  font-family: Montserrat;
  font-weight: normal;
  font-size: 15px;
  letter-spacing: 1px;
  transition: 0.2s;
  position: relative;
  z-index: 15;
}

h1 {
  color: white;
  font-family: Montserrat;
  font-weight: bold;
  font-size: 17px;
  letter-spacing: 1px;
  transition: 0.2s;
  position: relative;
  z-index: 15;
}

.coverfilter {
  pointer-events: none;
}

.songcover:hover > .coverfilter {
  opacity: 0%;
  width: 102%;
}

.songcover:hover > .songcoverimg {
  width: 102%;
}

.songcover:hover ~ h2,
h1 {
  font-size: 20px;
}

/* ---------------------------grid on the main ---------------------------- */

main {
  margin-top: 100px;
  gap: 4vw;
  display: grid;
  grid-template-columns: repeat(4, minmax(10vw, 1fr));
  margin-left: 17vw;
  margin-right: 17vw;
}
