/* ---------------------------header / body---------------------------- */
header img {
  display: block;
  width: 72px;
  position: relative;
  z-index: 12;
}

header {
  position: relative;
  z-index: 12;
  display: flex;
  justify-content: space-between;
  margin-left: 7vw;
  margin-right: 7vw;
  margin-top: 45px;
  flex-direction: row-reverse;
}

header a {
  text-decoration: none;
  color: white;
  font-family: Arial Rounded MT;
  font-size: 23px;
  align-self: center;
}


/* ---------------------------grid on the main ---------------------------- */

main {

  margin-top: 100px;
  margin-left: 17vw;
  margin-right: 17vw;
  position: relative;
  z-index: 12;
  display: grid;
  grid-template-columns: 20vw 1fr;
  grid-template-rows: 1fr 1fr 1fr 80px;
  grid-template-areas: "left right1"
    "left right2"
    "left right3"
    "left right4";
  height: 20vw;
  gap: 20px;
  overflow: hidden;
}



/* ---------------------------main content ---------------------------- */

#images {
  grid-area: left;

}

#imgtop {
  position: absolute;
  z-index: 20;
  height: 100%;
  box-shadow: 0px 5px 20px rgb(26, 26, 26, 0.5);
}


#imgblur {
  position: relative;
  z-index: 11;
  right: -220px;
  height: 100%;
  filter: blur(90px);
  -webkit-filter: blur(90px);
  opacity: 70%;
}

#info {
  position: relative;
  z-index: 12;
  color: white;
  font-family: Montserrat;
}

h1 {
  grid-area: right1;
  position: relative;
  z-index: 12;
  color: white;
  font-family: Montserrat;
  font-weight: bold;
  font-size: 2vw;
  width: 100%;
  display: block;
  margin-top: 0.5vw;
}



#artistalbumyear {
  grid-area: right2;
  position: relative;
  z-index: 12;
  color: white;
  font-family: Montserrat;
}

h2 {
  font-weight: bold;
  font-size: 1.5vw;
  transition: 0.2s;
}

#moreimg{
  height: 2.5vw;
  transition: 0.2s;
}

#artistnamelink:hover > h2 {
  font-size: 1.6vw;
}

#artistnamelink:hover > #moreimg{
  height: 2.7vw;
}

#artistnamelink {
  display: flex;
  flex-direction: row;
  align-self: center;
}

h3 {
  font-weight: normal;
  font-size: 1vw;
  margin-bottom: 0.2vw;
}


#genre {
  grid-area: right3;
  position: relative;
  z-index: 12;
  color: white;
  font-family: Montserrat;
}


p {
  font-size: 0.8vw;
}

#artistnamelink {
  text-decoration: none;
  color: white;

}


iframe {
  grid-area: right4;
  position: relative;
  z-index: 12;
  opacity: 30%;
  transition: 0.2s;
  width: 100%;
  height: 80px;
}

iframe:hover {
  opacity: 100%;
}
























/* ---------------------------MOBILE ---------------------------- */


@media only screen and (max-width: 1125px) {

  header img {
    display: block;
    width: 50px;
    position: relative;
    z-index: 12;
  }
  
  header {
    position: relative;
    z-index: 12;
    display: flex;
    justify-content: space-between;
    flex-direction: row-reverse;
    margin-left: 7vw;
    margin-right: 7vw;
    margin-top: 20px;
  }

  main {
    margin-top: 100px;
    margin-bottom: 100px;
    margin-left: 17vw;
    margin-right: 17vw;
    position: relative;
    z-index: 12;
    display: grid;
    grid-template-columns: 66vw;
    grid-template-rows: 66vw min-content min-content min-content 80px;
    grid-template-areas: "top"
      "right1"
      "right2"
      "right3"
      "right4";
    height: auto;
    gap: 20px;
    overflow:hidden;
  }
  ::-webkit-scrollbar {
    width: 0px;
  }

  #images {
    grid-area: unset;
  }

  #imgtop {
    grid-area: top;
    position: absolute;
    z-index: 20;
    width: 66vw;
    height: 66vw;
    box-shadow: 0px 5px 20px rgb(26, 26, 26, 0.5);
 
  }
  
  
  #imgblur {
    position: relative;
    z-index: 11;
    right: 0px;
    top: 20vw;
    height: 100%;
    filter: blur(90px);
    -webkit-filter: blur(90px);
    opacity: 70%;
  }


  
h1 {
  font-size: 4vw;
  margin-left: 20px;
}

h2 {
  font-size: 2.8vw;
  margin-left: 20px;
  transition: 0.2s;
}



#moreimg{
  height: 4.5vw;
  transition: 0.2s;
}

#artistnamelink:hover > h2 {
  font-size: 3vw;
}

#artistnamelink:hover > #moreimg{
  height: 5vw;
}

#artistnamelink {
  display: flex;
  flex-direction: row;
  align-self: center;
}



h3 {
  font-size: 2.8vw;
  margin-left: 20px;
}


p {
  font-size: 2vw;
  margin-left: 20px;
}

}